/* RESET  */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px - 16px / 10 */
}


/* TAGS */
body {
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(39, 1, 255, 0.733);
    letter-spacing: .055rem;
    line-height: 2rem;
}


/* CLASSES */
.container {
    font-size: 1.5rem;
    text-align: center;
    margin: 4rem auto;
    max-width: 95%;
    max-height: 80vh;
}

.location {
    margin-bottom: 4rem;
}

.current {
    margin: 0 2rem;
}

.forecasts {
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.forecast {
    min-width: 12rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 0rem .25rem .2rem rgba(0,0,0,.4);
    border: .1rem solid rgb(230, 230, 230);
    border-radius: .5rem;
}

.error-div {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.719);
    border: none;
  }
  
.error-msg {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(250, 250, 250);
    padding: 1.75rem;
}

.spinner {
    max-width: 10rem;
    max-height: 10rem;
}
